.main{
    display: flex;
    justify-content: center;
}
.container{
    background: linear-gradient(rgb(122, 124, 223), rgb(218, 120, 218));
    box-shadow: 10px 10px 10px 10px grey;
display: flex;
flex-direction: column;
align-items: center;
   border: 2px solid; 
   border-radius: 5px;
   width: 30%;
   margin: 40px;
   padding: 10px;

}

.btn{
    padding: 10px;
    background-color: rgb(55, 55, 226);
    color: aliceblue;
    
}

.social{
    display: flex;
    justify-content: center;
    
}